body {
  background: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  height: 100%;
  color: #444;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f6799b;
  padding: 10px 0;
  text-align: center;
}

footer {
  background-color: #f6799b;
  padding: 10px 0;
  text-align: center;
  color: white;
  width: 100%;
}

.logo {
  max-width: 150px;
  height: auto;
}

.swiper {
  width: 100%;
  max-width: 950px;
  height: 72vh;
  position: relative;
  margin: 0 auto;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

/* .swiper-thumbs {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
} */

.swiper-thumb {
  width: 15vw;
  max-width: 100px;
  /* Reduz a largura máxima dos thumbs */
  height: auto;
  margin: 0 1vw;
  /* Espaçamento reduzido entre as thumbs */
  cursor: pointer;
  border: 2px solid transparent;
}

.title-swiper {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-body h5 a {
  color: #444 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 600;
}

.flags img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}


/* Paginação */
.page-item.active .page-link {
  background-color: #ffc738 !important;
  color: #f6799b;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.page-item.disabled .page-link {
  background-color: #f6799b;
  color: #fff;
}
footer span.text-muted{
  color: white !important;
}
/* Consultas de mídia para ajustar o layout em diferentes tamanhos de tela */
@media screen and (max-width: 768px) {
  .swiper {
    height: 50vh;
  }

  .swiper-thumb {
    width: 20vw;
    max-width: 80px;
    /* Reduz ainda mais a largura máxima dos thumbs */
    margin: 0 0.5vw;
    /* Reduz ainda mais o espaçamento entre as thumbs */
  }
}

@media screen and (max-width: 480px) {
  .title-swiper {
    font-size: 1.5rem;
    padding: 20px;
  }
}